body{
    font-family:"Fira Sans Condensed", serif;
    padding: 00px;
    background-color: #f2e6d9;
    margin:auto;
    text-align:center;
}

.slider-container{
    width: 50%;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}

.slider{
    width: 100%;
}

#sliderValueQ, #sliderValue1, #sliderValue2, #sumValue{
    display:inline;
    text-align:justify;
    margin:0px;
    padding:0px;
}
.slider-desc{
    font-size:150%;
    font-weight:bold;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.gif-container{
    --r: 1000 / 600;
    aspect-ratio: var(--r);
    height:auto;
    max-width:100vw;
    display: flex;
    position:relative;
    z-index:1;
    border: 7px solid black;
    justify-content: center;
    align-items: center;
    background: url(background.png) top left no-repeat;
    background-size:contain;
}

.responsive-image{
    position: relative;
    z-index:2500;
    min-height:100%;
    min-width:auto;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

label{
    display: block;
    color: #7d7d7d;}
.labelish{
    color:#7d7d7d;
    margin: 0;
}   
.floatBlock{margin: 0 1.81em 0 0;}

.paymentOptions{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    break-before: always;
    margin: 0 0 3em 0;
}

#purchaseOrder{margin: 0 0 2em 0;}

h1{
    width:max-content;
    font-family: "Oswald";
    font-size:200%;
    padding:0px 0px 0px 0px;
    margin:0px;
}
h1.align-left{
    text-align:left;
    padding:0;
    margin:0;
    position:absolute;
}

h1.align-center{text-align: center;}
h2{
    max-width:100%;
    font-size:150%;
    font-family:"Oswald";
    padding:0px 0px 10px 0px;
    margin:0px;
}
.headtable{
    display:inline;
    text-align:center;
    color:#6b3102;
    padding:0px;
    margin-left:auto;
    margin-right:auto;
    font-size:150%;
    min-width:0px;
    min-height:0px;
    max-width:5px;
}
table.headtable td{
    min-width:0px;
    min-height:0px;
    max-width:20cm;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
}
p{
    padding:0px 0px 0px 0px;
    width:fit-content;
    margin:0px;
}

table{
    min-width:0px;
    min-height:0px;
}
td{
  min-width:0px;
  min-height:0px;
  max-width:25cm;
  padding-left:10px;
  padding-right:10px;
  text-align:center;
}
hr{padding:0px;}
main{
    text-align: justify;
    text-justify:inter-word;
    font-family:"Fira Sans Condensed", serif;
    font-size: 100%;
    font-weight:100%;
    max-width:100%;
}
a{
    text-decoration:none;
    color: blue;
}

.box{
    width: 100px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    background-color: #ffffff;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.box:hover{background-color: #f0f0f0;}
.box:focus{background-color: #7a7a7a;}
.box-text{font-size: 25px;}

.rectangle{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0px
    padding: 00px;
    border: 1px solid black;
}


.rectangle.s0{background-color: #440154;}
.rectangle.s1{background-color: #fde725;}
.rectangle.s2{background-color: #21918c;}
.rectangle.s3{background-color: #31688e;}
.rectangle.s4{background-color: #7ad151;}

.MathJax:focus, .mjx-chtml:focus, .MathJax_SVG:focus{
   /*outline:1px #440154 solid;*/
    margin:-30px 0px;
}

datalist{
    display: flex;
    justify-content: space-between;
}
input{width:50%;}

#qTH{font-size:200%;}
#maintable{margin-left:auto;margin-right:auto;border-spacing:0px 20px;} 
.desktop-only{display:inline;}
.mobile-only{display:none;}
@media (pointer:coarse){
    #qTH{font-size:120%;}
    .slider-desc{font-size:100%;}
    .gif-container{max-height:60vw;}
    .responsive-image{max-height:60vw;}
    .box{width:19vw;margin:1px;padding:0px;}
    .box-container{font-size:50%;padding:0px;margin:0px 0px 10px 0px;}
    .box-text{font-size:200%;}
    .rectangle{width:2vw;height:2vw;}
    .desktop-only{display:none;}
    .mobile-only{display:block;}
    #maintable{margin-left:auto;margin-right:auto;}  
   	h2 {letter-spacing: -0.5px;}
   	h1 {letter-spacing: -0.5px;} 
}
#preload{display:none;visibility:hidden;}

