body {font-size: 130%; font-family:"Oswald";}
h1{
  width:max-content;
  font-size:200%;
  padding:0px 0px 0px 0px;
  margin:0px;
}
h2{
  max-width:100%;
  font-size:150%;
  padding:0px 0px 10px 0px;
  margin:0px;
  text-align: justify;
}
p{
  padding:0px 0px 0px 0px;
  width:fit-content;
  margin:0px;
}
  
td:nth-child(1){vertical-align:top;}
td:nth-child(2){valign:center;}

.desktop-only{display:block;}
.mobile-only{display:none;}
@media (pointer:coarse) {
    /* custom css for "touch targets" */
  td:nth-child(2) {
    display:none;
  }
  .desktop-only{display:none;}
  .mobile-only{display:block;}
	h2 {letter-spacing: -0.5px;}
	h1 {letter-spacing: -0.5px;}
}
table {
  min-width:0px;
  min-height:0px;
}
.grids{
  max-height:200px;
  border-radius:0px;
  margin:0px;
  padding:0px;
}
.grids.fit{
    display:block;
    width:100%;
    height:auto;
    background-size:cover;
    align:center;
}
#physcomm {
  margin:0px;
  padding:0px;
  background: url(Images/physcomm.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#potts{
  margin:0px;
  padding:0px;
  background: url(Images/Potts.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
#mystery {
  margin:0px;
  padding:0px;
  /*background: url(https://cdn.shopify.com/s/files/1/0484/0508/6365/files/mystery-box-intrigue_480x480.jpg);
  */
  background: url(https://media.istockphoto.com/id/1360029122/photo/mysterious-pandora-box-opening-with-rays-of-light-high-contrast-image-3d-rendering.jpg?s=612x612&w=0&k=20&c=2VK_Xl1OZ38Mga04YSIaTrC1MfaQbbZD58nkW90mkDc=);
  background-repeat: no-repeat;
  background-size: cover;
}
#ireland {
  margin:0px;
  padding:0px;
  background: url(Images/ireland.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
td{
  min-width:0px;
  min-height:0px;
  max-width:20cm;
  padding-left:10px;
  padding-right:10px;
  text-align:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
hr{
  padding:0px;
}
main{
  text-align: justify;
  text-justify:inter-word;
  font-family:"Fira Sans Condensed", serif;
  font-size: 100%;
  font-weight:100%;
  max-width:100%;
}
a{
  text-decoration:none;
  color: blue;
}
